<div class="container my-5">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path('cinema.jpg') %>');">
    <div class="container">
      <h1>Save any kind of movies</h1>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-5">
    <h3> My Lists</h3>
    <a href="#anchor-new-list" class="btn btn-warning">New list</a>
  </div>
    <div class=" row d-flex flex-wrap">
      <% @lists.each do |list| %>
        <div class="col-4 my-2">
          <% if list.photo.key %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
              <%= link_to "#{list.name}", list_path(list), class: "text-decoration-none text-white fw-bold" %>
              <%= link_to "+", list_path(list), class: "card-remove-link", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            </div>
          <% else %>
            <div class="card-category" style="background: black">
              <%= link_to "#{list.name}", list_path(list), class: "text-decoration-none text-white fw-bold" %>
              <%= link_to "+", list_path(list), class: "card-remove-link", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  <div class="col-6 my-5 m-auto ">
    <div class="d-flex justify-content-center">
      <h4>Create a list</h4>
    </div>
    <div>
      <%= simple_form_for(@list) do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <div class="text-center"><%= f.submit "Create list", id: 'anchor-new-list', class: "btn btn-warning" %></div>
      <% end %>
    </div>
  </div>

</div>

<%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
  Breakfast
</div> %>
