<div class="container my-5">

  <div class="banner"
       style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path(@list.photo.key, height: 300, crop: :fill) %>');">
    <div class="container">
      <h1><%= @list.name %></h1>
    </div>
  </div>

  <div class="d-flex justify-content-end mt-5">
    <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-success" %>
  </div>

  <div class="card-group">
    <% @list.movies.each do |movie| %>
      <div class="col-4 p-3">
        <div class="card h-100">
          <img src="<%= movie.poster_url %>" class="card-img-top img-film" alt="..." >
          <div class="card-body">
            <h5 class="card-title"><strong><%= movie.title %></strong> - <%= movie.rating %> <i class="fa-solid fa-star" style="color: yellow"></i></h5>
            <p class="card-text"><%= movie.overview %></p>
            <div class="d-flex justify-content-between mt-5">
              <span>
                <i class="fa-solid fa-quote-left"></i>
                <%= movie.bookmarks.find_by(list_id: @list).comment %>
              </span>
              <%= link_to "delete",
                bookmark_path(Bookmark.find_by(movie: movie, list: @list)),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-decoration-none link-danger"
                %>
            </div>
          </div>
        </div>
        </div>
    <% end %>
  </div>


</div>

<%# List.all %>
<%# List.all[2] => ALl time favourites list %>
