<div class="container col-6 my-5">

  <h1>Add a movie to my <%= @list.name %>'s list</h1>

    <%= simple_form_for(@bookmark, as: :bookmark, method: :post, url: list_bookmarks_path) do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie %>
      <%= f.submit "Add Bookmark", class: "btn btn-primary" %>
    <% end %>

<%= link_to "See all lists", lists_path %>

<%= link_to "Go back to my #{@list.name}'s list", list_path(@list) %>

</div>

